/* Resetting margins and padding */


@font-face {
    font-family: 'MyFont';
    src: url('proximanova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont1';
    src: url('proximanova_black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color:  #1A1A1B;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



/* Top of webpage, background stuff */ 

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: transparent; /* Make header transparent to show background */
    padding: 20px;
    text-align: center;
}

.navbar .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: regular;
    text-transform: uppercase;
}



/*Brkrstudios main page here*/

.hero {
    position: relative;
    background: #000;
    color: #fff;
    text-align: center;
    height: 1070px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Video as background */
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: 1;
}

/* Ensuring text appears above the blurred background */
.hero h1 {
    font-family: 'myFont';
    position: relative;
    font-size: 7vw; /* Scales with screen size */
    z-index: 2;
    transform: skew(-5deg);
    margin: 0;
}


.hero h3 {

    font-family: 'myFont';
    position: relative;
    font-size: 2vw; /* Scales with screen size */
    z-index: 2;
    margin-top: 20px;
}



/* miililife section of the webpage */

.content-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #3E4144;
    margin: 40px 0;
    color: #fff;
}

.content-section h2 {
    font-size: 5vw; /* Scales with screen size */
    margin-bottom: 20px;
    color: #fff;
}


.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}



/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    .navbar .nav-menu {
        flex-direction: row; /* Keep the horizontal layout */
        justify-content: center;
        gap: 20px;
    }

    .hero {
        height: 100vh;
        padding: 0 20px;
    }

    .hero h1 {
        font-size: 12vw;
    }

    .hero h3 {
        font-size: 6vw;
    }

    .content-section h2 {
        font-size: 8vw;
    }



}